# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build/index.html
build/assets/bazarr.85f8e0a4.png
build/assets/code.a9ad8fbc.svg
build/assets/deluge.9e06530c.svg
build/assets/dozzle.0e13b1ce.svg
build/assets/favicon.d12fa822.svg
build/assets/GTWalsheimPro-Black.2eb1ba19.woff2
build/assets/GTWalsheimPro-Bold.041cee93.woff2
build/assets/GTWalsheimPro-Medium.e8adb244.woff2
build/assets/GTWalsheimPro-Regular.bb72d48e.woff2
build/assets/home-assistant.fa02d6b0.svg
build/assets/index.98d78e5b.css
build/assets/index.b721661f.js
build/assets/jellyfin.817c25b4.svg
build/assets/jellyseerr.e5db2aaa.svg
build/assets/ldap.c2092ee0.svg
build/assets/logo-white.e0ecba25.svg
build/assets/netdata.47388504.svg
build/assets/portainer.f4ddfb6a.png
build/assets/prowlarr.a8ed9073.svg
build/assets/radarr.ed26fdb4.svg
build/assets/readarr.bb2748b6.svg
build/assets/sonarr.5bc266f8.svg
build/assets/unraid-stacked-dark.c3815bd9.svg
build/assets/uptime-kuma.3383bf35.svg
