services:
  dashboard:
    container_name: dashboard
    env_file: .env
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - AUTH_URL=$AUTH_URL
    ports:
      - "3344:3344"
