services:
  dashboard:
    container_name: dashboard
    env_file: .env
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./acs-config:/app/config
    ports:
      - "3344:3344"
