$black: #171721;
$black-trans: rgba(64, 64, 84, 0.5);
$white: rgb(241, 241, 241);
$white-trans: rgba(238, 238, 238, 0.404);
$gradientOpacity: 0.6;
$serviceColor: #393b4360;

@function neg($val) {
  @return $val * -1;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

body {
  // background-color: $black;
  // background-image: url("../img/background.jpg");
  background-image: url("../img/acs-background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  color: $white;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

#wrapper {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-areas:
    ". hero hero ."
    ". services services ."
    "footer footer footer footer";
  row-gap: 50px;
}

#hero {
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  justify-self: center;
  grid-area: hero;
  // background: red;

  &:after {
    content: "";
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    opacity: $gradientOpacity;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background-image: url("../img/hero.png");
    background-color: $serviceColor;
    transform: scaleX(-1);
    background-size: cover;
    background-repeat: no-repeat;
  }

  backdrop-filter: blur(5px);
  padding: 1% 2%;
  border-radius: 15px;
}

.acs {
  position: relative;
  line-height: 2.5;
  padding: 5px 15px;
  white-space: nowrap;
  &:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    opacity: $gradientOpacity;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 7px;
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
}

#services {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  grid-area: services;

  img {
    object-fit: contain;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    $grid-gap: 60px;
    column-gap: $grid-gap;
    row-gap: $grid-gap;

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }

  a {
    & .service:after {
      content: "";
      position: absolute;
      border-radius: 15px;
      display: inline-block;
      top: 0;
      left: 0;
      opacity: $gradientOpacity;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $serviceColor;
      backdrop-filter: blur(10px);
    }

    // &:nth-child(even) .service:after {
    //   background-image: url("../img/even.png");
    // }
    // &:nth-child(odd) .service:after {
    //   background-image: url("../img/odd.png");
    // }

    text-decoration: none;
    color: $white;
    .service {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 15px;
      backdrop-filter: blur(10px);
      transition: all 220ms ease-in-out;
      box-sizing: border-box;
      padding: 10px 20px;

      .top-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .img-container {
          padding: 0;
          width: 25px;
          margin-right: 10px;
          filter: grayscale(100%);
        }
      }

      .service-desc {
        color: $white-trans;
        transition: all 220ms ease-in-out;
      }

      $offset: 8px;
      $blur: 30px;
      $lightShadow: #30304555;
      $darkShadow: #00000055;

      // box-shadow: unset;
      &:hover {
        box-shadow: neg($offset) neg($offset) $blur $lightShadow,
          $offset $offset $blur $darkShadow, inset 0px 0px 0px 4px $lightShadow;
        // box-shadow: inset neg($offset) neg($offset) $blur $lightShadow,
        //   inset $offset $offset $blur $darkShadow;

        // Inner Border
        // box-shadow: inset 0px 0px 0px 10px $white-trans;
        // -webkit-box-shadow: inset 0px 0px 0px 10px $white-trans;
        // -moz-box-shadow: inset 0px 0px 0px 10px $white-trans;

        color: $white;
        .img-container {
          filter: unset;
        }

        &:after {
          opacity: 0.6;
          // animation: fadeIn 0.5s;
        }

        .service-desc {
          color: $white;
        }
      }
    }
  }
}

#footer {
  padding: 40px 5%;
  max-width: 100% !important;
  grid-area: footer;
  margin-top: 150px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 15px 15px 0 0;
    // background-image: url("../img/hero.png");
    // background-color: $serviceColor;
    background-color: #1717219f;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    // opacity: $gradientOpacity;
    margin-bottom: 50px;
  }
  .acs {
    font-size: 1.2em;
    @include desktop {
      font-size: 2em;
    }
  }

  .footer-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 150px;
    .copyright {
      font-size: 0.75em;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeIn {
  0% {
    opacity: $gradientOpacity;
  }
  100% {
    opacity: 0.6;
  }
}
