* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-image: url("../img/acs-background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  color: #f1f1f1;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
      grid-template-areas: ". hero hero ." ". services services ." "footer footer footer footer";
  row-gap: 50px;
}

#hero {
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hero;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 1% 2%;
  border-radius: 15px;
}

#hero:after {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #393b4360;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-size: cover;
  background-repeat: no-repeat;
}

.acs {
  position: relative;
  line-height: 2.5;
  padding: 5px 15px;
  white-space: nowrap;
}

.acs:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 7px;
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

#services {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: services;
}

#services img {
  -o-object-fit: contain;
     object-fit: contain;
}

#services .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 60px;
}

#services a {
  text-decoration: none;
  color: #f1f1f1;
}

#services a .service:after {
  content: "";
  position: absolute;
  border-radius: 15px;
  display: inline-block;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #393b4360;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#services a .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
}

#services a .service .top-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services a .service .top-container .img-container {
  padding: 0;
  width: 25px;
  margin-right: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#services a .service .service-desc {
  color: rgba(238, 238, 238, 0.404);
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

#services a .service:hover {
  -webkit-box-shadow: -8px -8px 30px #30304555, 8px 8px 30px #00000055, inset 0px 0px 0px 4px #30304555;
          box-shadow: -8px -8px 30px #30304555, 8px 8px 30px #00000055, inset 0px 0px 0px 4px #30304555;
  color: #f1f1f1;
}

#services a .service:hover .img-container {
  -webkit-filter: unset;
          filter: unset;
}

#services a .service:hover:after {
  opacity: 0.6;
}

#services a .service:hover .service-desc {
  color: #f1f1f1;
}

#footer {
  padding: 40px 5%;
  max-width: 100% !important;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  margin-top: 150px;
  position: relative;
}

#footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 15px 15px 0 0;
  background-color: #1717219f;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

#footer .acs {
  font-size: 1.2em;
}

@media (min-width: 1024px) {
  #footer .acs {
    font-size: 2em;
  }
}

#footer .footer-content {
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}

#footer .footer-content .copyright {
  font-size: 0.75em;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}
/*# sourceMappingURL=style.css.map */