/* biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind v3 */
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
/* stylelint-disable-next-line at-rule-no-unknown */

@import "tailwindcss";

@config "../../tailwind.config.js";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
/* stylelint-disable-next-line at-rule-no-unknown */

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
/* stylelint-disable-next-line at-rule-no-unknown */

@utility scrollbar {
	&::-webkit-scrollbar {
		width: 4px;
		height: 10px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: none;
	}

	&::-webkit-scrollbar-thumb {
		background: #3f3f52;
		border-radius: 100vh;
	}

	&::-webkit-scrollbar:hover {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #858585;
	}
}

@layer utilities {
	/**
	 * Use this directive to control where Tailwind injects the hover, focus,
	 * responsive, dark mode, and other variants of each class.
	 *
	 * If omitted, Tailwind will append these classes to the very end of
	 * your stylesheet by default.
	 */
	/* stylelint-disable-next-line at-rule-no-unknown */
}
@font-face {
	font-family: "GT Walsheim Pro";
	src: url("/fonts/GTWalsheimPro/GTWalsheimPro-Thin.woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "GT Walsheim Pro";
	src: url("/fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Walsheim Pro";
	src: url("/fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GT Walsheim Pro";
	src: url("/fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GT Walsheim Pro";
	src: url("/fonts/GTWalsheimPro/GTWalsheimPro-Black.woff2");
	font-weight: 900;
	font-style: normal;
}

body {
	/* @apply bg-main-img; */
	@apply bg-background;
	@apply bg-cover;
	@apply bg-no-repeat;
	@apply bg-center;
}
