name: Validate code code
on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  lint_files:
    name: Lint files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: Run the linter and formatter
        run: pnpm run format-and-lint

      - name: Check types
        run: pnpm run check-types

      - name: Test code
        run: pnpm run test
